!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/target/
/.settings/
target/*
*/target/*
*.class 
*.project
.idea
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
log
LOG_HOME_IS_UNDEFINED
var

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

#####忽略提交target文件夹#####
/target/
target/*
*/target/
target
